@import url("bootstrap.css");

@import url("bootstrap-responsive.css");

body {
	padding-top: 60px;
}

.navbar-fixed-top {
	z-index: 1;
}

p.help-block {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}

.alert {
	display:none;
	width: 1100px;
	margin: 0 auto;
}

.sletters {
	font-weight:bold;
	font-size:12px;
	margin: 0 1px;
}

.letteron {
	color:red;
	text-decoration:underline;
}

td.lettering {
	padding-top:5px;
	text-align:right;
	padding-right:5px;
}